<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<!-- replacing the head with title  -->
<head th:replace="~{_layouts/base :: head(~{::title})}">
    <title th:fragment="title">Novo Produto</title>
</head>
<body>
<!-- replacing the main content -->
<main th:replace="~{_layouts/base :: layout(~{::content})}">
    <div th:fragment="content">
        <div style="min-height: 600px" class="p-3">
            <!-- end-point to update, inform the parameter           -->
            <form th:action="@{/products/{id}(id=${product.id})}"
            th:object="${product}"
            method="post" class="row g-3">
            <!-- input hidden, to store the id -->
            <input type="hidden" th:field="*{id}">
            <!-- show the current data, binding the field to object received -->
            <input type="hidden" th:if="*{id} != null" name="_method" value="put">

            <div class="col-md-6">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control" th:field="*{name}" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Categoria</label>
                <select class="form-select" th:field="*{category}" required>
                    <option value="" disabled>Selecione...</option>
                    <option th:each="cat : ${categories}"
                            th:value="${cat.id}"
                            th:text="${cat.name}"></option>
                </select>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Atualizar</button>
                <a th:href="@{/products}" class="btn btn-secondary">Cancelar</a>
            </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>

