<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<!-- replacing the head with title  -->
<head th:replace="~{_layouts/base :: head(~{::title})}">
    <title th:fragment="title">Erro 404!</title>
</head>
<body>
<!-- replacing the main content -->
<main th:replace="~{_layouts/base :: layout(~{::content})}">
    <div th:fragment="content">
        <div class="d-flex justify-content-center align-items-center flex-column text-center" style="min-height: 600px;">
            <h1 class="text-danger">Erro 404</h1>
            <h2 th:text="${error.getMessage}"></h2>
        </div>

    </div>
</main>
</body>
</html>

