<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!-- replacing the head with title  -->
<head th:replace="~{_layouts/base :: head(~{::title})}">
    <title th:fragment="title">Aprendendo Spring</title>
</head>
<body>
<!-- replacing the main content -->
<main th:replace="~{_layouts/base :: layout(~{::content})}">
    <div th:fragment="content" class="p-3">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 600px">

            <div sec:authorize="isAuthenticated()">
                <p><strong>Usuário logado:</strong> <span sec:authentication="name"></span></p>
                <p><strong>Roles:</strong> <span sec:authentication="principal.authorities"></span></p>
                <p><strong>Objeto completo:</strong> <span sec:authentication="principal"></span></p>
            </div>

            <div>
                <img th:src="@{/img/spring-logo.png}" style="width: 480px" class="p-2" />
                <h2 class="text-center">Bem vindos!</h2>
            </div>
        </div>
    </div>
</main>
</body>
</html>

